body {
  background: no-repeat fixed center;
  background-size: cover;
  font-family: monospace;
  font-size: 18px;
}

h1 {
  margin-top: 0;
  padding: 10px;
  user-select: none;
  cursor: default;
}

img {
	user-select: none;
}

.outer {
  display: table;
  position: absolute;
  width: 99%;
  height: 99%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.movieContainer {
  margin: 0 auto;
  width: 75%;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  vertical-align: middle;
  position: relative;
}

.moviePoster {
  float: left;
  width: 40%;
  padding: 20px;
}

.moviePoster img {
  width: 100%;
}

.movieTextContainer {
  float: right;
  width: 50%;
  padding: 20px;
  text-align: left;
}

.movieTitle {
  font-weight: bold;
  text-transform: uppercase;
  background: #000;
  text-align: center;
  color: #fff;
}

.movieDetails {
  max-height: 550px;
  text-align: justify;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin-bottom: 50px;
}

.movieDetails h3 {
  margin-top: 0;
}

.liLabel {
  font-weight: bold;
}

.goBackButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#backbutton{
  background: #d61838;
  color: #fff;
 font-weight: bold;
 padding: 10px 16px;
 border: none;
 font-size: 11pt;
 user-select: none;
}
#backbutton:hover{
  cursor: pointer;
  background: #b1132e;
}

@media screen and (max-width: 1200px) {

  .moviePoster {
    float: none;
    width: auto;
  }

  .movieTextContainer {
    float: none;
    width: auto;
  }

}
